@import "./../../../assets/color";
.drop-down {
  width: 10rem;
  background-color: $white;
  position: absolute;
  right: 0;
  top: 100%;
  .item {
    &:hover{
      background-color: $light;
    }
    a {
      font-weight: 400 !important;
      font-size: 0.9rem;
      display: block;
      transition: .3s;
      &:hover{
          transform: translateX(-5%);
      }
    }
  }
  @media screen and (max-width:768px) {
    position: unset;
    display: block;
    width: 100%;
  }
}
